# For pytest
.pytest_cache

# For mypy
.mypy_cache

# For tox
.tox

# For Mac
.DS_Store

# For ruff
.ruff_cache

# For pyenv
.python-version

# For venv
.venv

# For python
__pycache__/
.env
.local/

# For PyCharm
.idea/workspace.xml
.idea/tasks.xml

# For local
local/

# Makefile
Makefile
